
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterUser</title>
</head>
<body>
    <div class="column left">
        
    </div>
    <div class="column middle">
        <form asp-controller="User" asp-action="CompleteRegistration">
            <label class="text-label" for="username">Email:</label>
            <input class="login-input" type="text" onfocus="this.value=''" name="email" id="email" required="" />
            <br /><br />
            <label class="text-label" for="username">Username:</label>
            <input class="login-input" type="text" onfocus="this.value=''" name="username" id="username" required="" />
            <br /><br />
            <label class="text-label" for="password">Password:</label>
            <input class="login-input" type="text" onfocus="this.value=''" name="password" id="password" required="" />
            <br /><br />
            <button type="submit" class="btn-submit" style="width:50%;">Register!</button>
        </form>
    </div>
</body>
</html>
